<html>
    <head>
        <title>AOLob</title>
        <!--bootstrap and css-->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/app.css" type="text/css"/>
        <!--mobile view-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #fff782; border-radius: 15px;">
          <!--<a class="navbar-brand" href="/"><img id="aim" src="https://image.flaticon.com/icons/svg/78/78077.svg"></img></a>-->
          <a class="navbar-brand" href="/"><img id="aim" src="http://aux.iconspalace.com/uploads/aim-icon-256-380076021.png"></img></a>
          <!--<a class="navbar-brand" href="/"><img id="aim" src="https://image.flaticon.com/icons/svg/38/38305.svg"></img></a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navigationBar">
                <!--<a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link active" href="/" id="aolob">AOLob</a>
                <div id="links">
                    <a class="nav-item nav-link" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_1sfSTT
                    CoV7A1SY8L2b5W8CN3cF-24-FRf61WfhtKDzIeImP">Un-defendable break!</a>                  
                    <a class="nav-item nav-link" href="https://youtu.be/mzOUgwsQ_hM?t=29">Just gonna send it!</a>                  
                </div>
                <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            </div>
          </div>
        </nav>