<html>
    <head>
        <title>AOLob</title>
        <!--bootstrap and css-->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/app.css" type="text/css"/>
        <!--mobile view-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light" id="bootNavBar" style="background-color: #fff782; border-radius: 15px;">
          <!--<a class="navbar-brand" href="/"><img id="aim" src="https://image.flaticon.com/icons/svg/78/78077.svg"></img></a>-->
          <a class="navbar-brand" href="/"><img id="aim" src="http://aux.iconspalace.com/uploads/aim-icon-256-380076021.png"></img></a>
          <!--cannot get local images to display.... :-/ ....-->
          <!--<a class="navbar-brand" href="/"><img id="aim" src="../images/aim.png"></img></a>-->
          <!--<a class="navbar-brand" href="/"><img id="aim" src="https://image.flaticon.com/icons/svg/38/38305.svg"></img></a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navigationBar">
                <!--<a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link active" href="/" id="aolob">AOLob</a>
                <div id="links">
                    <!--<a class="nav-item nav-link" href="/hammertime">Hammertime!</a>-->
                    <!--<a class="nav-item nav-link" href="/info">AOLob Infotainment</a>-->
                    <% if(!currentUser){ %>
                        <a class="nav-item nav-link" href="/login">Login</a>
                        <a class="nav-item nav-link" href="/register">Sign Up</a>
                    <% } else { %>
                        <!--else - -->
                        <a class="nav-item nav-link" href="#"><%= currentUser.username %></a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                    <% } %>
                    <!--Larry sends it - href="https://youtu.be/mzOUgwsQ_hM?t=29"-->
                </div>
                <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            </div>
          </div>
        </nav>
        <div>
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        