<% include ../partials/header.ejs %>

    <div class="blog">
        <div class="post">
            <p class="title">
                it's hammer time!!
            </p>
            <div class="center" id="postBody">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_1sfSTT%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20CoV7A1SY8L2b5W8CN3cF-24-FRf61WfhtKDzIeImP" />
            </div>


        </div>
    </div>

<% include ../partials/footer.ejs %>
