<html>
    <head>
        <title>AOLob</title>
        <!--bootstrap and css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="app.css" type="text/css" />
        <!--mobile view-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a class="navbar-brand" href="/"><img id="aim" src="https://image.flaticon.com/icons/svg/78/78077.svg"></img></a>
          <!--<a class="navbar-brand" href="/"><img id="aim" src="https://image.flaticon.com/icons/svg/38/38305.svg"></img></a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navigationBar">
                <!--<a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link" href="#" id="aolob">AOLob</a>
                <div id="links">
                    <a class="nav-item nav-link" href="https://slipsum.com/">More fun than monkeys</a>                  
                    <a class="nav-item nav-link" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_1sfSTTCoV7A1SY8L2b5W8CN3cF-24-FRf61WfhtKDzIeImP">Don't listen to it!</a>                  
                </div>
                <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            </div>
          </div>
        </nav>
        <!--<h1>OLOB - April 6-7</h1>-->
        <!--<h3>are you ready?</h3>-->
        <div class="blog">
            <% posts.forEach(function(post){ %>
                <div class="post">
                    <%= post.title %>
                    <p class="firstParagraph">
                        <%= post.body %>
                    </p>
                    <hr>
                </div>
            <% }) %>
        </div>
        
        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>        
        <!--popper.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!--bootstrap JS-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>