<% include ../partials/header.ejs %>

    <div class="blog">
        <div class="post">
            <p class="title">
                Welcome to aolob! here's the scoop -
            </p>
            <div id="postBody">
                <p>We're going throw back this year. Not too far though... 
                As much as you weirdos love cocaine, Hammertime and Jnco Jeans, 
                we're letting all of that go... This is the time when 
                nerds decided they wanted to rule the world.</p>
                
                <p id="center">Hello - The 2000s!</p>
                
                <p>In honor of the .com turmoil, chatrooms and Nelly. Please
                put your thinking cap on and remember back as far as you can.
                Allll the way back to.... YOUR FIRST EMAIL ADDRESS!</p>
                
                <p>Alex already spilled the beans and said his first choice 
                'sexybeast69@aol.com' was taken before he could secure it back 
                in '01. Good thing to, it would have been on the back of his 
                jersey this year at OLOB.</p>
                
                <p>That's right, your first email address ever will be on display
                as close to it's creator as we can get. (our tiny little 2000s
                brains are still rattling around in our heads somewhere, right? 
                That's what I assumed anyway.) </p>
            </div>


        </div>
    </div>

<% include ../partials/footer.ejs %>
