#aim {
    width: 85px;
}

#aolob {
    margin: 0 auto;
    padding-top: 0;
    font-size: 64px;
    color: #4f3a10;
}

#links {
    font-size: 22px;
}

.navigationBar {
    width: 100%;
    vertical-align: middle;
    font-family: 'PT Sans Narrow';
    font-weight: 700;
}

.title {
    border-left: 5px solid #fff782;
    padding-left: 5px;
    text-transform: uppercase;
    /*font-weight: 400;*/
}

#postBody {
    font-family: 'PT Sans Narrow';
    font-size: 24px;
}

#postName {
    text-align: right;
    margin-right: 50px;
    font-family: 'PT Sans';
    font-size: 20px;
}

body {
    padding: 15px;
}

.image {
    max-width: 80%;
}

.blog {
    border: 5px solid #fff782;
    padding: 20px;
    margin: 1em 3em;
    min-width: 275px;
    border-radius: 15px;
    -webkit-box-shadow: -10px 5px 20px 5px rgba(0,0,0,0.43);
    -moz-box-shadow: -10px 5px 20px 5px rgba(0,0,0,0.43);
    box-shadow: -10px 5px 20px 5px rgba(0,0,0,0.43);
}

hr {
    margin: 50px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#newPostForm {
    width: 50%;
    margin: 25px auto;
}

#newPostButton {
    margin: 10px;
}

.invalid {
    border: 1px solid red;
}

.btn-dark {
    background-color: #4f3a10;
    color: white;
    font-family: 'PT Sans';
    font-size: 18px;
    /*font-weight: 700;*/
}

.btn-light {
    background-color: #fff782;
    color: #4f3a10;
    font-family: 'PT Sans Narrow';
    font-size: 18px;
    font-weight: 700;
}

.btn-danger {
    font-family: 'PT Sans';
    font-size: 18px;
}